langchain==0.3.11
langgraph==0.2.59
langchain-community==0.3.11
langchain-google-genai==2.0.7
langchain-groq==0.2.1
beautifulsoup4==4.12.3
selenium==4.27.1
requests==2.32.3
webdriver-manager==4.0.2
 gradio==5.8.0

